<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243257614357-daae4boidh8gl6ub5i5ikirlsdkgebsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243257614357-daae4boidh8gl6ub5i5ikirlsdkgebsr</string>
	<key>API_KEY</key>
	<string>AIzaSyATCE3YhmlGNnRJuLah9R6MT1PYdbo844Q</string>
	<key>GCM_SENDER_ID</key>
	<string>243257614357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>flexnow.co</string>
	<key>PROJECT_ID</key>
	<string>flex-by-finaxar</string>
	<key>STORAGE_BUCKET</key>
	<string>flex-by-finaxar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243257614357:ios:57d22dd77345d3a845ee1c</string>
</dict>
</plist>